
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
	background: #C0C0C0;
	text-align: justify;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-style: italic;
	color: #7D807A;
}

h1, h2, h3 {
	color: #AA2808;
}

h1 {
}

h2 {
}

h3 {
}

p, blockquote, ul, ol {
	margin-bottom: 20px;
	line-height: 2em;
}

p {
}

blockquote {
}

ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

button
{
	width:70px;
	height:30px;
	vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  
  color: #FFFFFF;
  outline: none;
  border: 2px solid #AA2808;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #100;
  background: linear-gradient(#C0C0C0, #A9A9A9 48%, #808080 52%, #696969);
}
button #red
{
	width:70px;
	height:30px;
	vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #F64C2B;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
  background: linear-gradient(#FB9575, #FF0000 48%, #EA1502 52%, #F02F17);
}

input[type="text"]
{
	width:200px;
	height:20px;
}

textarea
{
	width:200px;
	height:300px;
}
select
{
	width:200px;
	height:15px;
}
#errors li, ul
{
	color:#FF0000;
}

a {
	text-decoration: underline;
	color: #E14949;
}

a:hover {
	text-decoration: none;
	color: #C11414;
}

/* Wrapper */

#wrapper {
}

/* Header */

#header {
	width: 900px;
	height: 140px;
	margin: 0 auto;
	background: url(images/img01.jpg) no-repeat left top;
}

/* Logo */

#logo {
	float: left;
	width: 270px;
	height: 70px;
	margin: 0px;
	padding-left: 30px;
	text-align: center;
}

#logo h1 {
	margin: 0;
	padding: 10px 0px 0px 0px;
	//text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 34px;
	//font: normal 34px Georgia, Times, serif;
}

#logo h2 {
	margin: -2px 0 0 0;
	padding: 0;
	text-transform: lowercase;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	color: #FFFFFF;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 872px;
	height: 41px;
	margin: 0 auto;
	padding: 0px 0px 0px 28px;
	background: url(images/img02.jpg) no-repeat left top;
}

#menu ul {
	margin: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
	text-align: center;
}

#menu a {
	height: 33px;
	display: block;
	float: left;
	padding: 8px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	color: #FFFFFF;
}

#menu a:hover, #menu .active a {
	
	color: #C11212;
}

#splash {
	width: 940px;
	height: 299px;
	margin: 0 auto;
}

/* Search */

#header-search {
	width: 940px;
	height: 51px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#header-search form {
	float: right;
	width: 300px;
	margin: 0;
	padding: 12px 0px 0px 0px;
}

#header-search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#header-search-text {
	width: 200px;
	padding: 2px 3px;
	background: #1E1E1E;
	border: none;
	color: #4D4D4D;
}

#header-search-submit {
	background: none;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #E4E4E4;
}

#search {
	height: 51px;
	margin: 0 auto;
	padding: 0px 0px 60px 0px;
}

#search form {
	margin: 0;
	padding: 12px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
}

#search-text {
	width: 160px;
	height: 18px;
	padding: 3px 0 3px 5px;
	border: 1px solid #999999;
	color: #000000;
}

#search-submit {
	margin-left: 10px;
	padding: 4px 4px;
	border: none;
	background: #C11212;
	font-size: 10px;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 844px;
	margin: 0 auto;
	padding: 0px 28px;
	background: #FFFFFF url(images/img05.jpg) repeat-y left top;
}

/* Content */

#content {
	float: left;
	width: 560px;
	padding-top: 30px;
}
.post {
	background: url(images/img04.gif) repeat-x left bottom;
	margin: 0px 0px 30px 0px;
}

.post .title {
	background: url(images/img03.png) no-repeat left 0px;
	margin: 0px;
	color: #BF0B0B;
}

.post .title a {
	padding: 0px 0px 0px 50px;
	letter-spacing: -1px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	font-weight: normal;
	font-style: italic;
	color: #BF0B0B;
}
.post .titlelyric {
	padding: 0px 0px 0px 50px;
	letter-spacing: -1px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	font-weight: normal;
	font-style: italic;
	color: #BF0B0B;
	background: url(images/img03.png) no-repeat left 0px;
	margin: 0px;
	color: #BF0B0B;
}

.post .entry {
	padding: 20px 0px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
    max-height:72px;
    color: #363636;

}
.post .entryalone {
	padding: 20px 0px;
	font-size: 14px;
	overflow: hidden;
	color: #363636;


    
}

.post img {
	float: left;
	padding: 15px 0px;
}

.post .meta {
	text-align: right;
	padding: 0px 0 20px 0;
	font-weight: bold;
	color: #202020;
}

.post .byline {
	padding-left: 40px;
	font-size: 12px;
	font-style: italic;
	//text-transform: lowercase;
	color: #7D807A;
}

/* biography */
.posts{
	//background: url(images/img04.gif) repeat-x left bottom;
	margin: 0px 0px 0px 0px;
}

.posts .imagebiography {
	 height: 200px; /* Высота блока */
	 width: 200px;
	
	 margin: 0px 30px 0px 0px;
    border: 2px solid #000; /* Параметры рамки */
    background: url(images/foto.jpg) 100% 100% no-repeat; /* Добавляем фон */
    background-size: cover; /* Масштабируем фон */
   
    float: left;
}

.posts .titlebiography {
	height: 70px; /* Высота блока */
	 width: 270px;
	padding: 0px 0px 0px 0px;
	letter-spacing: -1px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	font-weight: normal;
	text-align: center;
	font-style: italic;
	color: #BF0B0B;
	margin: 0px;
	color: #BF0B0B;
	
	float:left;
}

.posts .entrybiography {
	height:auto; /* Высота блока */
	 width: 550px;
	 font-family:arial;
	padding: 10px 0px;
	font-weight: normal;
    float:left;
    font-size: 14px;
   // overflow:hidden;
   text-decoration: none;
   color: #363636;

}

.posts img {
	float: left;
	padding: 15px 0px;
}

.posts .meta {
	text-align: right;
	padding: 0px 0 20px 0;
	font-weight: bold;
	color: #202020;
}
.posts .imagestereotypes {
	 height: 250px; /* Высота блока */
	 width: 250px;
	
	 margin: 0px 0px 0px 0px;
    //border: 2px solid #000; /* Параметры рамки */
    background:100% 100% no-repeat; /* Добавляем фон */
    background-size: cover; /* Масштабируем фон */
   
    float: right;
}

.posts .titlestereotypes {
	height: 70px; /* Высота блока */
	 width: 270px;
	padding: 0px 0px 0px 0px;
	letter-spacing: -1px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	font-weight: normal;
	text-align: center;
	font-style: italic;
	color: #BF0B0B;
	margin: 0px;

	
	float:left;
}

.posts .entrystereotypes {
	height:auto; /* Высота блока */
	width: 270px;
	font-family:arial;
	padding: 10px 0px;
	font-weight: normal;
  	text-align: left;
    font-size: 14px;
  	margin: 20px 0px 0px 0px;
   text-decoration: none;
   color: #363636;
   float:left;
   overflow:hidden;

}
.posts .entrystereotypes1 {
	height:auto; /* Высота блока */
	width: 550px;
	font-family:arial;
	padding: 10px 0px;
	font-weight: normal;
  	text-align: left;
    font-size: 14px;
  	margin: 20px 0px 0px 0px;
   text-decoration: none;
   color: #363636;
   float:left;
   overflow:hidden;

}


/* Sidebar */

#sidebar {
	float: right;
	width: 230px;
	margin: 20px 0px;
	padding: 10px 0px 30px 30px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 1px;
}

#sidebar li ul {
	margin: 0px;
	padding: 0px 0px 40px 27px;
}

#sidebar li li {
	margin: 0;
	padding: 9px 0px;
	border: none;
	background: none;
}

#sidebar h2 {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	color: #BF0B0B;
}

#sidebar h3 {
	font-size: 77%;
	color: #110404;
}

#sidebar p {
	margin: 0;
	line-height: normal;
	color: #D4C792;
}

#sidebar a {
	border: none;
	text-decoration: none;
	color: #7D807A;
}

#sidebar a:hover {
	//text-decoration: underline;
	color:#C11212;
}

/* Submenu */

#submenu {
}

/* News */

#news {
}

#news a {
	font-size: 85%;
}

/* Footer */

#footer {
	width: 960px;
	height: 100px;
	margin: 0 auto;
	padding: 14px 0px 0px 0px;
	background: url(images/img04.jpg) no-repeat left top;
	color: #9C9C9C;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: 11px;
}

#footer a {
	text-decoration: underline;
	color: #808080;
}

#footer a:hover {
	text-decoration: none;
}
/*************************
*******Shop CSS******
**************************/


#advertisement {
  padding-bottom: 45px;
}

#advertisement img {
  width: 100%;
}

.pagination {
 //display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
  padding-bottom: 20px;

}

.pagination  li:first-child  a, .pagination  li:first-child  span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.pagination  li:last-child  a, .pagination  li:last-child  span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
  background-color: #BF0B0B;
  border-color: #FE980F;
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}

.pagination  li  a, .pagination  li  span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
}

.pagination  li  a:hover{
	background:#7D807A;
	color:#fff;
}



/*************************
*******Product Details CSS******
**************************/